.boton-contenedor {
  height: 83px;
  display: flex;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 38px;
  background-color: #585860;
  color: rgb(196, 191, 191);
  border-radius: 25px;
  border: 2px solid rgb(178, 172, 172);
  margin: 4px;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s;
}

.boton-contenedor:hover {
  background-color: #4d94c7;
}

.operador {
  background-color: #b16b5b;
}

.operador:hover {
  background-color: #755860;
}
